.TamanhoEAltura
{
    height: 600px;
    width: 300px;
}
.logo
{
    float: left;
}
.Outros
{
    float: left;
}
*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fonte
{
    font-size: xx-large;
    color: white;
}
.menu
{
    line-height: 50px;
    color: white;
}
.texto2
{
    line-height: 50px;
}
.esquerda
{
    margin-left: 350px;
}